{
  "presets": [
    ["@babel/preset-react", {"runtime": "automatic"}],
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@emotion",
    "@babel/plugin-transform-runtime"
  ],
  "minified": false,
  "comments": true,
  "env": {
    "production": {
      "minified": true,
      "comments": false
    }
  }
}
